@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body{
  background-color: rgb(20, 5, 35);
}

div#app{
  width: 400px;
  height: 400px;
  margin: 200px auto;
  background-color: rgb(107, 79, 133);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgb(247, 239, 255);
  flex-direction: column;
  gap: 30px;
}

.contador{
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.boton{
  min-width: 50px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgb(39, 9, 67);
  color: white;
  margin: 10px;
  box-shadow: 0 2px 5px 0 rgb(58, 40, 77);
  transition: 0.2s;
}

.boton:hover{
  background-color: rgb(79, 51, 108);
  cursor: pointer;
}